.pl {
  display: block;
  width: 9.375em;
  height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.pl__arrows {
  -webkit-animation-name: arrows42;
          animation-name: arrows42;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 16px 52px;
      -ms-transform-origin: 16px 52px;
          transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
  -webkit-transform-origin: 80px 80px;
      -ms-transform-origin: 80px 80px;
          transform-origin: 80px 80px;
}

.pl__ring-rotate {
  -webkit-animation-name: ringRotate42;
          animation-name: ringRotate42;
}

.pl__ring-stroke {
  -webkit-animation-name: ringStroke42;
          animation-name: ringStroke42;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pl__tick {
  -webkit-animation-name: tick42;
          animation-name: tick42;
}

.pl__tick:nth-child(2) {
  -webkit-animation-delay: -1.75s;
          animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
  -webkit-animation-delay: -1.25s;
          animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.pl__tick:nth-child(6) {
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}

/* Animations */
@-webkit-keyframes arrows42 {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes arrows42 {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes ringRotate42 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes ringRotate42 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes ringStroke42 {
  from,
	to {
    stroke-dashoffset: 452;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes ringStroke42 {
  from,
	to {
    stroke-dashoffset: 452;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes tick42 {
  from,
	3%,
	47%,
	to {
    stroke-dashoffset: -12;
  }

  14%,
	36% {
    stroke-dashoffset: 0;
  }
}

@keyframes tick42 {
  from,
	3%,
	47%,
	to {
    stroke-dashoffset: -12;
  }

  14%,
	36% {
    stroke-dashoffset: 0;
  }
}